<div class="charts">
  <p class="tittle">Charts</p>
  <div class="card-wrapper">
    <div class="card-holder">

      <div *ngFor="let chart of chartList.slice(0,4)" class="card-box">
        <div class="media">
          <img
            src="{{chart.imageUrl}}"
            alt="pic"
          />
        </div>
        <div class="info-card">
          <p class="chart-tittle">{{chart.name}}</p>
          <p class="artist">{{chart.artist}}</p>
          <a routerLink="/charts/{{chart.objectId}}"><i class="fa-solid fa-list"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
