<div class="wrapper">
  <div class="info-artist">
    <div class="media">
      <img
        src="{{artistData.imageUrl}}"
        alt=""
      />
    </div>
    <div class="description-artist">
      <h3>{{artistData.name}}</h3>
      <p class="bio"> {{artistData.description.info}}</p>
    </div>
  </div>
  <div class="releases">
    <div class="tracks" *ngFor="let track of artistData.tracks,let i = index">
      <h4>{{artistData.name}} releases</h4>
      <div class="card-track">
        <div class="media-track">
          <img
            src="{{track.imageUrl}}"
            alt=""
          />
        </div>
        <span>{{i+1}}</span>
        <div class="buttons">
          <i class="fa-solid fa-play" (click)="loadFile(track.audioUrl,track.songName,track.artist)"></i>
          <i class="fa-solid fa-plus" (click)="addToPlaylist(track.artist,track.audioUrl,track.imageUrl,track.label,track.songName)"></i>
        </div>
        <p class="track-artist">{{track.artist}}</p>
        <p class="track-name">{{track.songName}}</p>
        <p class="label">{{track.label}}</p>
      </div>
    </div>

    <div class="charts">
      <h4>{{artistData.name}} Chart</h4>
      <div class="card-track" *ngFor="let chart of artistData.charts,let i = index">
        <div class="media-track">
          <img
            src="{{chart.imageUrl}}"
            alt=""
          />
        </div>
        <span>{{i+1}}</span>
        <div class="buttons">
          <i class="fa-solid fa-play" (click)="loadFile(chart.audioUrl,chart.songName,chart.artist)"></i>
          <i class="fa-solid fa-plus" (click)="addToPlaylist(chart.artist,chart.audioUrl,chart.imageUrl,chart.label,chart.songName)"></i>
        </div>
        <p class="track-artist">{{chart.artist}}</p>
        <p class="track-name">{{chart.songName}}</p>
        <p class="label">{{chart.label}}</p>
      </div>
    </div>
  </div>
  <div class="audio-player">
    <app-audio-player></app-audio-player>
  </div>
</div>
