<nav>
    <div class="logo">
        <a href="/" class="logo-text"><i class="fa-solid fa-barcode fa-rotate-270"></i>Music Library</a>
    </div>
        
    <div class="options">
        <ul>
            <li><a href="/genres">Genres</a></li>
            <li><a href="/news">News</a></li>
            <li><a href="/artists">Artists</a></li>
            <li><a href="/charts">Charts</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
        

    <div class="register">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
     </div>
         
</nav>

