<div class="wrapper">
    <div class="about-us">
        <h2><i class="fa-solid fa-barcode fa-rotate-270"></i>About Music Library</h2>
        <p>We want to create a platform where everyone can read the latest news, listen to the newest creations, compilations, and sets of artists in the electronic music scene, and share their musical creativity on this platform.</p>
    </div>
</div>

<div class="about-me">
    <p>&#169;Miroslav Paralyuzov</p>
    <a href="mailto:mparalyuzov@gmail.com"><i class="fa-regular fa-envelope"></i>mparalyuzov@gmail.com</a>
    <a href="https://github.com/paralyuzov/"><i class="fa-brands fa-github"></i>paralyuzov</a>
    <a href="https://www.instagram.com/sovietmiro/"><i class="fa-brands fa-instagram"></i>sovietmiro</a>

    <p>SoftUni&#169; Angular Project 03 April,2024</p>
</div>
